link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,700|Open+Sans+Condensed:300')
link(rel='stylesheet', href='/stylesheets/base.css')
link(rel='stylesheet', href='/stylesheets/glyphicons.css')
link(rel='stylesheet', href='/stylesheets/jquery.gridster.min.css')
link(rel='stylesheet', href='/stylesheets/UI/layout.css')
link(rel='stylesheet', href='/stylesheets/UI/UI.css')
block styles
script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
script(src='/javascripts/jquery/jquery.mousewheel.js')
script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')
//-script(src='/javascripts/jquery/jquery.ui.scrollbar.min.js')
script(src='/javascripts/jquery/jquery.ui.checkbox.js')
script(src='/javascripts/jquery/jquery.layout.min.js')
script(src='/javascripts/jquery/jquery.gridster.min.js')
script(src='/javascripts/d3/d3.v3.js')
script(src='/javascripts/d3/vega.min.js')
block scripts
block footer