doctype html
html(lang="en")
  head
    title= pageTitle

  body
    h1 Jade - node template engine
    p.
      Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Fugiat voluptate, sint qui
      minus porro tempora nobis nam facilis quod, 
      numquam officiis quos saepe nihil. Iste 
      quaerat velit rem ad consequuntur?

   