@import 'nib'
@import '../../shared/variables'
//- UI Label
.ui-label
    color inherit
    font-family inherit

.ui-size-heavy
    &.ui-label
        font-weight 700  

.ui-size-small
    &.ui-label
        font-size floor($widget-text-size/1.5)

.ui-size-big
    &.ui-label
        font-size floor($widget-text-size*1.5)

.ui-size-huge
    &.ui-label
        font-size floor($widget-text-size*2.2)