@import 'nib'
@import '../../shared/variables'
//- UI ProgressBar
.ui-progressbar
    height 2em
    text-align left
    overflow hidden
    .ui-progressbar-value
        margin -1px
        height 100%
    .ui-progressbar-overlay
        background url(images/animated-overlay.gif)
        height 100%
        opacity 0.25

.ui-progressbar-indeterminate
    .ui-progressbar-value
        background-image none