@import 'nib'
@import '../../shared/variables'
//- UI Tabs
.ui-tabs
    position relative
    padding 0
    border none
    .ui-tabs-nav
        margin 0
        padding .2em .2em 0
        li
            list-style none
            float left
            position relative
            top 0
            margin 1px .2em 0 0
            borderwidth 0
            padding 0
            white-space nowrap
            a
                float left
                padding .5em 1em
                text-decoration none
            &.ui-tabs-active
                margin-bottom -1px
                padding-bottom 1px
    .ui-tabs-panel
        display block
        border-width 0
        padding 2em 1.4em
        background none
    .ui-tabs-active
        background #eee
        border-color #eee
        a
            color #000

.ui-tabs .ui-tabs-nav li.ui-tabs-active a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading a
    cursor text

.ui-tabs .ui-tabs-nav li a, 
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a
    cursor pointer
