@import 'nib'
@import '../../shared/variables'
//- UI Widget General
.ui-widget
    font-family "Open Sans","Lucida Grande",Helvetica,Arial,sans-serif
    font-size 14px
    .ui-widget
        font-size 1em

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button
    font-family "Open Sans","Lucida Grande",Helvetica,Arial,sans-serif
    font-size 1em

.ui-widget-content
    border 1px solid $color-gray-lighter
    background $color-gray-lighter
    color $color-selection-light-base
    a
        color $color-selection-light-base

.ui-widget-header
    border 1px solid $color-selection-light-accent
    background $color-selection-light-accent
    color $color-white
    font-weight bold
    a
        color $color-white
    .ui-icon
        background-image url(images/ui-icons_fff_256x240.png)

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default
    border 1px solid $color-clickable-light-base
    background $color-clickable-light-base
    font-weight normal
    color $color-white

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited
    color $color-white
    text-decoration none

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus
    border 1px solid $color-clickable-light-accent
    background $color-clickable-light-base
    font-weight normal
    color $color-white

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited
    color $color-white
    text-decoration none

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active
    border 1px solid $color-clickable-light-accent
    background $color-clickable-light-accent
    font-weight normal
    color $color-white

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited
    color $color-white
    text-decoration none

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight
    border 1px solid $color-informer-update
    background $color-informer-update
    color $color-white

.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a
    color $color-white

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error
    border 1px solid $color-informer-alert
    background $color-informer-alert
    color $color-white

.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a
    color $color-white

.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text
    color $color-white

.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary
    font-weight bold

.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary
    opacity .7
    font-weight normal

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled
    opacity .35
    background-image none

.ui-widget-shadow
    margin 2px 0 0 0
    padding 0
    background $color-gray-light
    opacity 1
    border-radius 0