/****************************************************/
/****************Metrics in Motion*******************/
/******************Variables*************************/
//Colors - base
//Grays:
$color-black = #333
$color-gray-darker = #3c3c3c
$color-gray-dark = #666
$color-gray = #888
$color-gray-light = #ccc
$color-gray-lighter = #eee
$color-white = #fff

//Clickables
$color-clickable-light-base = #30844e
$color-clickable-light-accent = #266a3e
$color-clickable-light-highlight = #40b067
$color-clickable-light-altbase = #888
$color-clickable-light-altaccent = #666

$color-clickable-dark-base = #40b067
$color-clickable-dark-accent = #30844e
$color-clickable-dark-highlight = #91d7a9
$color-clickable-dark-altbase = #888
$color-clickable-dark-altaccent = #666

//Selections
$color-selection-light-base = #333
$color-selection-light-accent = #409cb0

$color-selection-dark-base = #eee
$color-selection-dark-accent = #91cad7

//Specials
$color-special-light-base = #ccc
$color-special-light-accent = #5a40b0

$color-special-dark-base = #eee
$color-special-dark-accent = #a191d7

//Informers
$color-informer-update = #f44800
$color-informer-alert = #d40000

//Colors - widget
//light:
$widget-light-window = $color-gray-lighter

$widget-light-button-base = $color-clickable-light-base
$widget-light-button-down = $color-clickable-light-accent
$widget-light-button-base-text = $color-white
$widget-light-button-down-text = $color-white

$widget-light-button-altbase = $color-clickable-light-altbase
$widget-light-button-altdown = $color-clickable-light-altaccent
$widget-light-button-altbase-text = $color-white
$widget-light-button-altdown-text = $color-white

$widget-light-field-base = $color-white
$widget-light-field-down = $color-white
$widget-light-field-base-text = $color-black
$widget-light-field-down-text = $color-black
$widget-light-field-border-base = $color-gray-light
$widget-light-field-border-down = $color-gray-light

$widget-light-list-base = $color-clickable-light-base
$widget-light-list-down = $color-clickable-light-base
$widget-light-list-base-text = $color-black
$widget-light-list-down-text = $color-black

$widget-light-label-base = $color-black

$widget-light-dropdown-base = $color-selection-light-base
$widget-light-dropdown-down = $color-selection-light-accent
$widget-light-dropdown-base-text = $color-white
$widget-light-dropdown-down-text = $color-white

$widget-light-progress-base = $color-special-light-base
$widget-light-progress-down = $color-special-light-accent

$widget-light-scroller-base = $color-gray-light
$widget-light-scroller-down = $color-white

$widget-light-tooltip-base = $color-black
$widget-light-tooltip-text = $color-white

//dark:
$widget-dark-window = $color-black

$widget-dark-button-base = $color-clickable-dark-base
$widget-dark-button-down = $color-clickable-dark-accent
$widget-dark-button-base-text = $color-white
$widget-dark-button-down-text = $color-white

$widget-dark-button-altbase = $color-clickable-dark-altbase
$widget-dark-button-altdown = $color-clickable-dark-altaccent
$widget-dark-button-altbase-text = $color-white
$widget-dark-button-altdown-text = $color-white

$widget-dark-field-base = $color-gray-lighter
$widget-dark-field-down = $color-gray-lighter
$widget-dark-field-base-text = $color-black
$widget-dark-field-down-text = $color-black
$widget-dark-field-border-base = $color-gray-light
$widget-dark-field-border-down = $color-gray-light

$widget-dark-list-base = $color-clickable-dark-base
$widget-dark-list-down = $color-clickable-dark-base
$widget-dark-list-base-text = $color-white
$widget-dark-list-down-text = $color-white

$widget-dark-label-base = $color-white

$widget-dark-dropdown-base = $color-selection-dark-base
$widget-dark-dropdown-down = $color-selection-dark-accent
$widget-dark-dropdown-base-text = $color-black
$widget-dark-dropdown-down-text = $color-black

$widget-dark-progress-base = $color-special-dark-base
$widget-dark-progress-down = $color-special-dark-accent

$widget-dark-scroller-base = $color-gray-dark
$widget-dark-scroller-down = $color-gray-light

//Sizing - Layouts
$layout-columns = 12
$layout-column-width = 50

$layout-base-size = 32px
$layout-base-row = $layout-base-size
$layout-base-margin = $layout-base-size
$layout-base-padding = 5px
$layout-base-spacing = floor($layout-base-margin/2.5)

//Sizing - text
$widget-text-size = 14px
$widget-text-lineheight = 1em
$widget-text-fontfamily = "Open Sans"

//Sizing - widgets
$widget-button-width = 130px
$widget-button-height = 24px
$widget-button-padding = $layout-base-spacing
$widget-button-radius = floor($widget-button-height/2)
