@import 'nib'
@import 'shared/variables'
/****************************************************/
/****************Metrics in Motion*******************/
/****************************************************/
global-reset()
body
  font-family: $widget-text-fontfamily, "Lucida Grande", Helvetica, Arial, sans-serif
  font-size: $widget-text-size
  line-height: $widget-text-lineheight
  background: $widget-light-window
  color: $color-black
ul
    padding-left: $layout-base-spacing


.ui-list
    padding: 0
    .ui-list-item
        height:30px
        padding: 10px 0
        