script.
    $( document ).ready(function() {
        $('body').layout({
            defaults: {
                resizable:  false,
                closable:   false
            },
            center__childOptions: {
                defaults: {
                    resizable:  false,
                    closable:   false
                },
                center__paneSelector:	".ui-layout-inner-center",
                north__paneSelector:	".ui-layout-inner-north",
                south__paneSelector:	".ui-layout-inner-south"
            },
            west__childOptions: {
                defaults: {
                    resizable:  false,
                    closable:   false
                },
                center__paneSelector:	".ui-layout-inner-center",
                north__paneSelector:	".ui-layout-inner-north",
                south__paneSelector:	".ui-layout-inner-south"
            }
        });
        
        $( ".ui-widget-button" ).button();
        $( ".ui-widget-buttongroup" ).buttonset();
        $( ".ui-widget-checkbox" ).checkbox();
        $( ".ui-widget-spinner" ).spinner();
        $( ".ui-widget-tabbar" ).tabs();
        
        
        $( '.ui-widget' ).tooltip({
            show: {
                effect: "fade",
                delay: 1000
            },
            position: {
                my: "center top+5",
                at: "center bottom",
                using: function( position, feedback ) {
                  $( this ).css( position );
                  $( "<div>" )
                    .addClass( "ui-tooltip-arrow" )
                    .addClass( feedback.vertical )
                    .addClass( feedback.horizontal )
                    .appendTo( this );
                }
            }
        });

        mimUI.main();
    });