+column()
    +row()
        +textbox({label:{text:'View Title:',span:3},id:baseID+'-viewTitle'})
    +row()
        +textbox({label:{text:'View Description:',span:3},id:baseID+'-viewDescription'})
    +row()
        +radiogroup({label:{text:'View Layout:',span:3},id:baseID+'-viewLayout'})
            +radio({label:{text:'Horizontal'}})
            +radio({label:{text:'Vertical'}})(checked)