#content-gallery
    overflow auto
    .content-view
        display block
    .content-view-wrapper
        width 100%
        min-height 200px
    .content-view-widget
        background #FFF
        cursor pointer
        box-shadow 0 0 5px rgba(0,0,0,0.3)
        display table
        .content-view-widget-view
            width 100%
            height 100%
            display table-row
            svg
                width 100%
                height 100%
        .content-view-widget-title
            height 40px
            padding 0 20px
            small
                display block
                font-size 80%