<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Metrics in Motion</title>
	<link rel="stylesheet" href="static/stylesheets/style.css">
	<link rel="stylesheet" href="static/stylesheets/pure-min.css">
	<link rel="stylesheet" href="static/stylesheets/jquery.gridster.min.css">

	<script src="static/javascripts/Chart.js"></script>
	<script src="static/javascripts/jquery.min.js"></script>
	<script src="static/javascripts/jquery.gridster.min.js"></script>
    <script src="static/javascripts/underscore-min.js"></script>
    <script src="static/javascripts/backbone-min.js"></script>
	<script src="static/javascripts/mim.js"></script>

</head>
<body>
	

	<div id="main">
		<div id="sidebar">
			<div class="logo"></div>

			<h4>DASH VIEWS</h4>
			<ul class="section">
				<li><a href="">Personal</a> <span>23</span></li>
				<li><a href="">Work</a><span>3</span></li>
				<li><a href="">Play</a><span>14</span></li>
				<li><a href="">Eat</a><span>12</span></li>
				<li><a href="">Sleep</a><span>25</span></li>

			</ul>



		</div>

		<div id="content">

			<div class="gridster">

				<ul>
				<!-- 	<li class="gs-w" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
						
						<canvas id="myChart" width="300" height="300"></canvas>

					</li>
					<li class="gs-w" data-row="2" data-col="1" data-sizex="1" data-sizey="1"></li>
					<li class="gs-w"  data-row="3" data-col="1" data-sizex="1" data-sizey="1"></li>

					<li class="gs-w"  data-row="1" data-col="2" data-sizex="2" data-sizey="1"></li>
					<li class="gs-w"  data-row="2" data-col="2" data-sizex="2" data-sizey="2"></li>

					<li class="gs-w"  data-row="1" data-col="4" data-sizex="1" data-sizey="1"></li>
					<li class="gs-w"  data-row="2" data-col="4" data-sizex="2" data-sizey="1"></li>
					<li class="gs-w"  data-row="3" data-col="4" data-sizex="1" data-sizey="1"></li>

					<li class="gs-w"  data-row="1" data-col="5" data-sizex="1" data-sizey="1"></li>
					<li class="gs-w"  data-row="3" data-col="5" data-sizex="1" data-sizey="1"></li>

					<li class="gs-w"  data-row="1" data-col="6" data-sizex="1" data-sizey="1"></li>
					<li class="gs-w"  data-row="2" data-col="6" data-sizex="1" data-sizey="2"></li> -->
				</ul>

			</div>


		</div>

	</div>


	<script>
	
// LOAD gridster

$(function(){ //DOM Ready

	$(".gridster ul").gridster({
		widget_margins: [10, 10],
		widget_base_dimensions: [300, 300]
	});

});


// LOAD CHART JS 

var data = {
	labels: ["January", "February", "March", "April", "May", "June", "July"],
	datasets: [
	{
		label: "My First dataset",
		fillColor: "rgba(220,220,220,0.2)",
		strokeColor: "rgba(220,220,220,1)",
		pointColor: "rgba(220,220,220,1)",
		pointStrokeColor: "#fff",
		pointHighlightFill: "#fff",
		pointHighlightStroke: "rgba(220,220,220,1)",
		data: [65, 59, 80, 81, 56, 55, 40]
	},
	{
		label: "My Second dataset",
		fillColor: "rgba(151,187,205,0.2)",
		strokeColor: "rgba(151,187,205,1)",
		pointColor: "rgba(151,187,205,1)",
		pointStrokeColor: "#fff",
		pointHighlightFill: "#fff",
		pointHighlightStroke: "rgba(151,187,205,1)",
		data: [28, 48, 40, 19, 86, 27, 90]
	}
	]
};

options  = {animation: false, tooltipEvents:[]}

// var ctx = document.getElementById("myChart").getContext("2d");
// var myLineChart = new Chart(ctx).Line(data);

var gridster = $(".gridster ul").gridster().data('gridster');

for (var i=0; i<10; i++) {

	name = "chart"+i;
	gridster.add_widget('<li class="new"><canvas id="'+name+'" width="390" height="200"></canvas></li>', 1, 1);
	var ctx = $("#"+name).get(0).getContext("2d");
	var myLineChart = new Chart(ctx).Line(data,options);


}


var app = {};

  app.User = Backbone.Model.extend();

  app.UserList = Backbone.Collection.extend({
    model : app.User,
    url:"https://dl.dropboxusercontent.com/u/25981400/users.json",
    parse: function (response) {
      console.log("PARSE")
      return response.results;
    }
  });




</script>


</body>
</html>