@import 'nib'
@import '../shared/variables'
/****************************************************/
/****************Metrics in Motion*******************/
/************************UI**************************/

//Defaults
.ui-tooltip
    font-size: $widget-text-size
    padding: 5px 8px
    position: absolute
    z-index: 9999
    max-width: 300px
    color: $widget-light-tooltip-text
    background: $widget-light-tooltip-base
    .ui-tooltip-arrow
        position: relative
        background: $widget-light-tooltip-base
        border: 1px solid $widget-light-tooltip-base
        &:after
        &:before
            bottom: 100%
            left: 50%
            border: solid transparent
            content: " "
            height: 0
            width: 0
            position: absolute
            pointer-events: none
        &:after
            border-bottom-color: $widget-light-tooltip-base
            border-width: 12px
            margin-left: -12px
        &.bottom
            bottom:-16px
            top: auto
        &.top
            top:-16px
            bottom: auto
        &.left
            left: 20%
            right: auto
        &.right
            right: 20%
            left: auto
        

.ui-widget-label
    font-family: inherit    

.ui-widget-button
    cursor: pointer
    border: 0px none
    font-family: inherit
    position: relative
.ui-widget-buttongroup
    display: inline-block
    .ui-widget-button
        margin: 0

.ui-widget-checkbox
    cursor: pointer
    display: inline-block
    position: relative
    .ui-widget-checkbox-inputwrapper
        width: 0
        height: @width
        overflow: hidden
    .ui-widget-label
        cursor: pointer
        display: block
        position: relative
        z-index: 1
    .ui-widget-checkbox-box   
        position: absolute
        .ui-widget-checkbox-icon   
            position: absolute
            
.ui-widget-textinput
    cursor: pointer
    border: 0px none
    font-family: inherit
    
//Sizing
.ui-size-default
    &.ui-widget-label
        font-size: $widget-text-size
    &.ui-widget-button
        font-size: $widget-text-size
        height: $widget-button-height
        border-radius: $widget-button-radius
        padding: 0 $widget-button-padding
        .ui-widget-buttongroup &
            border-radius: 0
            border-right: 1px solid
            &.ui-corner-left
                border-radius: $widget-button-radius 0 0 $widget-button-radius
            &.ui-corner-right
                border-radius: 0 $widget-button-radius $widget-button-radius 0                
                border-right: 0px
        .ui-widget-icon
            padding-left: 8px
    &.ui-widget-checkbox
        .ui-widget-label
            line-height: 1
            margin: 0 0 $layout-base-padding 0
            padding: 0 0 0 20px
        .ui-widget-checkbox-box
            width: 16px
            height: @width
            top: 0px
            left: @top
            .ui-widget-checkbox-icon   
                width: 12px
                height: @width
                top: 2px
                left: @top   
    &.ui-widget-textinput
        font-size: $widget-text-size
        height: $widget-button-height
        border-radius: 0    
        border-bottom: 2px solid
        padding: 0 5px

.ui-size-heavy
    &.ui-widget-label
        font-weight: 700  

.ui-size-small
    &.ui-widget-label
        font-size: floor($widget-text-size/1.5)

.ui-size-big
    &.ui-widget-label
        font-size: floor($widget-text-size*1.5)

.ui-size-huge
    &.ui-widget-label
        font-size: floor($widget-text-size*2.2)

//Styling
.ui-style-light
    .ui-widget-label
        color: $widget-light-label-base
    .ui-widget-button
        color: $widget-light-button-base-text
        background: $widget-light-button-base        
        //&.ui-state-hover
        &.ui-state-active
            color: $widget-light-button-down-text
            background: $widget-light-button-down
    .ui-widget-buttongroup
            .ui-widget-button
                border-color: $widget-light-button-down
    .ui-widget-checkbox
        .ui-widget-checkbox-box
            background: $widget-light-button-base
            .ui-widget-checkbox-icon
                background: $widget-light-window
                &.ui-widget-icon-check
                    background: $widget-light-button-base
    .ui-widget-textinput
        color: $widget-light-field-base-text
        background: $widget-light-field-base
        border-color: $widget-light-field-border-base
        &:active
            color: $widget-light-field-down-text
            background: $widget-light-field-down
            border-color: $widget-light-field-border-down
    .ui-spinner
        .ui-spinner-button
            color: $widget-light-field-base-text
            background: $widget-light-field-base
            &:active
                color: $widget-light-field-down-text
                background: $widget-light-field-down            
        
        
.ui-style-dark
    .ui-widget-label
        color: $widget-dark-label-base
    .ui-widget-button
        color: $widget-dark-button-base-text
        background: $widget-dark-button-base
        //&.ui-state-hover
        &.ui-state-active
            color: $widget-dark-button-down-text
            background: $widget-dark-button-down
    .ui-widget-buttongroup
            .ui-widget-button
                border-color: $widget-dark-button-down
    .ui-widget-checkbox
        .ui-widget-checkbox-box
            background: $widget-dark-button-base
            .ui-widget-checkbox-icon
                background: $widget-dark-window
                &.ui-widget-icon-check
                    background: $widget-dark-button-base
    .ui-widget-textinput
        color: $widget-dark-field-base-text
        background: $widget-dark-field-base
        border-color: $widget-dark-field-border-base
        &:active
            color: $widget-light-dark-down-text
            background: $widget-dark-field-down
            border-color: $widget-dark-field-border-down

    