#main {
  max-width: 1900px; }

#sidebar {
  position: fixed;
  background-color: #2a3f50;
  color: white;
  top: 0px;
  bottom: 0px;
  max-width: 240px;
  width: 100%; }
  #sidebar h4 {
    font-family: Verdana;
    font-size: 12px;
    color: #128eb2; }

#content {
  position: fixed;
  top: 0px;
  bottom: 0px;
  margin-left: 240px;
  width: 1660px;
  background-color: #F5F5F5; }

.logo {
  background-image: url(../images/logo_full.png);
  width: 190px;
  height: 33px;
  margin: auto;
  margin-top: 5px; }

ul.section {
  padding-left: 0px; }
  ul.section li {
    padding-left: 10px;
    height: 40px;
    list-style: none;
    background-color: #2a3f50; }
    ul.section li:hover {
      background-color: #324b60; }
    ul.section li a {
      position: relative;
      color: white;
      font-size: 16px;
      text-decoration: none;
      line-height: 40px; }
    ul.section li span {
      margin-top: 10px;
      position: absolute;
      right: 20px;
      background-color: #515b6d;
      font-size: 10px;
      width: 25px;
      height: 20px;
      border-radius: 8px;
      text-align: center;
      line-height: 20px; }

.gridster {
  min-width: 1660px; }
  .gridster ul {
    list-style: none; }
  .gridster li {
    background-color: #FFFFFF;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 5px;
    border: 1px solid #E5E5EA; }
